.button {
    width: 150px;
    height: 30px;
    background: linear-gradient(360deg, #357ADF 0%, #40BFD2 100%);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border-style: hidden;
}

.button:hover {
    box-shadow: 8px 8px 12px 0 rgba(0, 0.3, 0, 0.3);
    color: #FFFFFF;
}

.button:active {
    color: #FFFFFF;
}