.button {
    width: 150px;
    background: linear-gradient(360deg, #357ADF 0%, #40BFD2 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.button:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);

}