.options-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    flex-shrink: 1;
    flex-grow: 0;
    /*border-style: solid;*/
    /*border-color: black;*/
}

.options-inner-container {
    display: flex;
    flex-basis: 1200px;
    min-height: fit-content;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    margin-left: 10px;
    margin-right: 10px;
    /*border-style: solid;*/
    /*border-color: springgreen;*/
}

.options-form {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 1200px;
    flex-shrink: 1;
    flex-grow: 0;
    border-style: solid;
    border-color: blue;
}

.product-outer-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 1000px;
    align-items: center;
    margin: 50px;
    /*border-style: solid;*/
    /*border-color: yellow;*/
}

.product-inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
    align-items: center;
    margin: 10px 25px;
    /*border-style: solid;*/
    /*border-color: orange;*/
}

.option-dropdown {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: fit-content;
    margin: 10px;
    /*border-style: solid;*/
    /*border-color: springgreen;*/
}

.invisible {
    visibility: hidden;
}

.explanatory-notes{
    margin-bottom: 20px;
}

select {
    border-radius: 5px;
    box-shadow: 6px 6px 5px 0 rgba(0, 0.2, 0, 0.2);
}

select:focus {
    box-shadow: 8px 8px 12px 0 rgba(0, 0.3, 0, 0.3);
}


.flavors-section {
    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0;
    /*border-style: solid;*/
    /*border-color: black;*/
}

.ice-cream-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 900px;
    flex-shrink: 1;
    flex-grow: 0;
    box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    /*border-style: solid;*/
    /*border-color: springgreen;*/
}

.ice-cream-outer-container:hover {
    box-shadow: 8px 8px 12px 0 rgba(0, 0.3, 0, 0.3);
}

.ice-cream-inner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0;
    /*border-style: solid;*/
    /*border-color: red;*/
}

.sorbet-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
    box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.sorbet-outer-container:hover {
    box-shadow: 8px 8px 12px 0 rgba(0, 0.3, 0, 0.3);
}

.sorbet-inner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    /*border-style: solid;*/
    /*border-color: red;*/
}

.selection-button {
    margin-left: auto;
    margin-right: auto;
}

p   {
    text-align: center;
}

.maximumFlavorsError {
    color: darkred;
    font-size: larger;
    font-weight: bolder;
}

.flavor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
    /*border-style: solid;*/
    /*border-color: black;*/
}

.flavor-checkbox {
    width: fit-content;
    margin: 5px 10px 5px 5px;
}

.flavor-label {
    width: fit-content;
    margin-bottom: 3px;
}


.flavor-checkbox:checked + .flavor-label {
    font-weight: bold;
}








