.selection-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    height: 89vh;
    flex-shrink: 1;
    flex-grow: 0;
    background-color: #007FFF;
    background-image:
            linear-gradient(to right, #007FFF, #40bfd2);
    /*border-style: solid;*/
    /*border-color: black;*/
}

.selection-inner-container {
    display: flex;
    flex-basis: 1200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    margin-left: 10px;
    margin-right: 10px;
    /*border-style: solid;*/
    /*border-color: springgreen;*/
}

.flavor-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 1000px;
    flex-shrink: 1;
    flex-grow: 0;
    margin-left: 10px;
    margin-right: 10px;
    /*border-style: solid;*/
    /*border-color: orange;*/
    height: 88vh;
}

.flavors-section {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 1000px;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 10px;
    /*border-style: solid;*/
    /*border-color: black;*/
}

.ice-cream-outer-container {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    /*border-style: solid;*/
    /*border-color: springgreen;*/
}

.ice-cream-inner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    /*border-style: solid;*/
    /*border-color: red;*/
}

.sorbet-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    /*border-style: solid;*/
    /*border-color: springgreen;*/
}

.sorbet-inner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /*border-style: solid;*/
    /*border-color: red;*/
}

.selection-button {
    margin-left: auto;
    margin-right: auto;
}

p   {
    text-align: center;
}








