@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.home-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 1000px;
    flex-shrink: 1;
    flex-grow: 0;
    border-style: solid;
    border-color: black;
}

.home-inner-container {
    display: flex;
    flex-basis: 1200px;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    margin-left: 10px;
    margin-right: 10px;
    /*border-style: solid;*/
    /*border-color: springgreen;*/
}

h1 {
    font-family: Satisfy, cursive;
    font-size: 40px;
    color: #FFFFFF;
    margin: 20px;
    text-align: center;
}