@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h1  {
    font-family: Satisfy, cursive;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}