.calendar-outer-container {
    display: flex;
    flex-direction: row;
    flex-basis: fit-content;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
    margin: 10px;

    border-style: solid;
    border-color: blue;
}

.calendar-inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1000px;
    min-height: 100px;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    margin: 10px;

    border-style: solid;
    border-color: black;
}

.calendar-input {
    height: 40px;
    width: 300px;
}