.app-outer-container {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #007FFF;
    background-image:
            linear-gradient(to right, #007FFF, #40BFD2);
    min-height: 100vh;
}

.app-inner-container {
    display: flex;
    flex-basis: 1200px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 0;
}


.body {
    background-color: #007FFF;
    background-image:
            linear-gradient(to right, #007FFF, #40BFD2);
}
