.forms-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 100px;
    flex-shrink: 1;
    flex-grow: 0;
}

.form-title {
    font-weight: bolder;
    margin: 20px;
    text-align: center;
}

.account-form {
    display: flex;
    flex-direction: column;
    flex-basis: 1000px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 10px;
}

.form-section {
    display: block;
    padding: 10px;
    width: 100%;
}

input {
    float: right;
    border-style: hidden;
    border-radius: 5px;
    padding-left: 5px;
    margin: auto;
    width: 75%;
    box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none;
    box-shadow: 8px 8px 12px 0 rgba(0, 0.3, 0, 0.3);
}

.login-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.register-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.form-error {
    text-align: center;
    color: darkred;
}


